h1 {
    background: #4dba6c;
    color: #fff
}

div.ez-app {
    background: #ccc;
    padding: 5px;
}

div.ez-card {
    background: #4dba6c;
    color: white;
    border-radius: 5px;
    padding: 10px;
    min-height: 100px;
    font-family: Courier, serif;
}
